<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true" padding>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button auto-hide="false"></ion-menu-button>
            <div style="width: 100%; max-height: 400px;">
                <ion-searchbar search-icon="search-outline" (ionChange)="searchMapData($event.target.value)"
                               animated="true"></ion-searchbar>
              <ion-list  *ngIf="hasFound" style="background: #fff;">
                <ion-item *ngFor="let place of selected" (click)="selectListedItem($event)">{{place.name}}</ion-item>
              </ion-list>
            </div>
        </ion-buttons>
    </ion-toolbar>
    <div id="container">
        <div id="map_canvas">

        </div>
    </div>
</ion-content>
